@import 'styles/utilities';

.input {
    width: 100%;
    padding: 0.3em 0.5em;
    border: 1px solid $color-border;
    border-radius: 3px;

    &:focus {
        border: 1px solid darken($color-border, 25%);
        outline: 0;
    }

    &--invalid,
    &--invalid:focus {
        border: 1px solid $color-error;
    }

    &-validation {
        &-wrapper {
            display: flex;
            flex-direction: column;

            > label {
                margin-top: 0.2em;
                margin-bottom: 0;
                color: $color-error;
                font-size: 0.9em;
            }
        }
    }
}
